.agents {
  margin-top: 25px;
  display: flex;
}

.filter-panel {
  margin-top: 50px;
  margin-left: -10px;
  width: 10%;
  background-color: rgb(236, 234, 234);
  border-radius: 15px;
  height: 220px;
}

.property-cards {
  margin-left: 5%;
  margin-right: 5%;
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.property-card {
  position: relative;
  background-image: url('../../../assets/Agent1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.property-card:hover .description {
  display: block;
}

.description {
  display: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  position: absolute;
  bottom: 60px; /* Adjust as needed */
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  border-radius: 15px;
}


.rating {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 2px solid black;
  border-radius: 50%;
  padding: 5px;
  background-color: white;
}


.property-card .text
{
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;

}
.experience-button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #222422;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
  margin-top: 200px;
}

.rating-filter
{
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
}