.exclusive-deals {
  margin-top: -8%;
  padding: 5%;
  flex: 1;
}

.exclusive-deals h2 {
  font-size: 24px;
  font-weight: bold;
}

.exclusive-deals .deal {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 15px;
  width: 150px;
  background-color: black;
  color: white;
}
