.hot-listings {
  margin-top: -8%;
  margin-left: -5%;
  padding: 5%;
  flex: 1;
}

.hot-listings h2 {
  font-size: 24px;
  font-weight: bold;
}

.hot-listings .listing {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
}

.hot-listings button {
  margin-top: 100px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

.hot-listings .listings-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.listing{
  border-radius: 15px;
  align-items: center;
  text-align: center;
  background-color: black;
  color: white;
  height: 200px;
}