.main {
    display: flex;
    justify-content: space-between;
    height: 100vh; /* This will make the main section take up the full viewport height */
    padding: 5%;
  }

  .main .content {
    flex: 1;
  }

  .main h1 {
    margin-top: 20%;
    font-weight: bold;
    font-size: 70px;
    z-index: 1;
    background-color: snow;
  }

  .main p {
    color: #6c757d;
    font-size: 30px;
  }

  .main .search-form {
    margin-top: 20px;
    display: flex;
  }

  .main input,
  .main button {
    padding: 10px;
    width: 70%;
  }

  .main button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    width: 20%;
  }

  .main .image {
    flex: 1;
    /* Add your image as a background image */
    background-image: url('../assets/Main-image.png');
    background-size: cover;
    background-position: center;
    width: 70%;
    height: 70%;
  }
