.main {
    display: flex;
    justify-content: space-between;
    height: 100vh; /* This will make the main section take up the full viewport height */
    padding: 20px;
  }
  
  .main .content {
    flex: 1;
  }
  
  .main h1 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .main p {
    color: #6c757d;
  }
  
  .main .search-form {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .main input,
  .main button {
    padding: 10px;
  }
  
  .main button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .main .image {
    flex: 1;
    /* Add your image as a background image */
    background-image: url('../assets/Main-image.png');
    background-size: cover;
    background-position: center;
    width: 70%;
    height: 70%;
  }
  