.main {
    padding: 20px;
  }
  
  .main h1 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .main p {
    color: #6c757d;
  }
  
  .main .search-form {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .main input,
  .main button {
    padding: 10px;
  }
  
  .main button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  